<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <%- include("./partials/navbar.ejs") %>
    <%= title %>
    <% if (!locals.user) { %>
        <p>Seems like you are not logged in.</p>
        <a href="/login">Login to see all the messages.</a>
    <% } %>
    <%  if (locals.user) { %>
        <p>Some other logic. Logged in btw.</p>
    <% } %>
</body>
</html>