<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Club</title>
</head>
<body>
    <%= title %>
    <form action="/join" method="POST">
        <label for="passcode">Passcode for Club:</label>
        <input type="text" name="passcode" id="passcode">
        <button type="submit">Try</button>
    </form>
</body>
</html>