<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <% if (locals.logged) { %>
        <p>You are already logged in.</p>
        <p>To log in again, log out <a href="/logout">here</a>.</p>
    <% } else { %>
        <% if (locals.message) { %><div class="error-msg"><%= locals.message %></div> <% } %>
        <form action="/login" method="POST">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
            <button type="submit">Log In</button>
        </form>
    <% } %>
</body>
</html>