<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <% if (locals.errorMsgs) {%>
        <ul>
            <% locals.errorMsgs.forEach(msg => { %>
                <% console.log(locals.errorMsgs) %>
                <li><%= msg %></li>
            <% }) %>
        </ul>
    <% } %>
    <form action="/signup" method="POST">
        <label for="firstName">First Name:</label>
        <input type="text" name="firstName" id="firstName">
        <label for="lastName">Last Name:</label>
        <input type="text" name="lastName" id="lastName">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
        <label for="passwordConfirm">Confirm Password:</label>
        <input type="password" name="passwordConfirm" id="passwordConfirm">
        <button>Submit</button>
    </form>
</body>
</html>